.Trophées
{
	color: #FFD700;
	text-align: center;
}

.PC
{
	color: #2c75ff;
	text-align: center;
}
.Bouton-Jouer
{
	color: red;
	text-align: center;
}
.PS
{
	color: #665cbe;
	text-align: center;
}
.Xbox
{
	color: #107c10;
	text-align: center;
}
p
{
	color: #858585;
}
strong
{
	color: #383838;
}
